/* TAGS - STARTS */
body {
	background: #fff;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #2c3e50;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

footer {
	margin: 10px auto 15px auto;
	text-align: center;
}
/* TAGS - ENDS */

/* LAYOUT - STARTS */
.container-fluid {
	width: 1080px;
	margin: 0 auto;
	background: #fff;
}
/* LAYOUT - ENDS */

/* MENUS - STARTS */
.menu-container {
	text-align: center;
	margin: 50px auto 20px auto;
}

.menu-container .menu {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
}
.menu li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.menu li a{
	padding: 10px 15px;
	margin-right: 20px;
	background: #fff;
	border: 5px solid #fff;
	box-shadow: 0 0 3px #ccc;
	text-decoration: none;
	color: #2c3e50;
	font-size: 14px;
	text-transform: uppercase;
}

.menu li a:hover {
	border-color: #e6e6e6;
}

.menu li .active {
	background: #34495e;
	color: #fff;	
}
/* MENUS - ENDS */

/* BODY - STARTS */
.body-section {
	background: #fff;
	border: 1px solid #e6e6e6;
	padding: 20px;
	box-shadow: 0 0 3px #ccc;
	margin: 30px auto 5px auto;
}
/* BODY - ENDS */

/* TABLE - STARTS */
.table-style-1 {
	width: 100%
	padding:0;
	margin: 10px 0; 
}

.table-style-1 tr th{
	background: #2d3436;
	color: #fff;
	text-align: center;
	padding: 10px 15px;
	margin: 1px;
	white-space: nowrap;
	border: 1px solid #fff;
}

.table-style-1 tr td{
	background: #dfe6e9;
	color: #2d3436;
	padding: 10px 15px;
	margin: 1px;
	border: 1px solid #fff;
}

.table-style-1 tr:hover td{
	background: #ecf0f1;
	cursor: pointer;
}
/* TABLE - ENDS */

/* CONTENT - STARTS */
.content-section {
	padding: 40px auto 100px auto;
	text-align: center;	
}

.content-section .title {
	font-size: 35px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 10px auto 30px auto;
	display: inline-block;
}

.content-section .content {
	padding: 30px;
}
/* CONTENT - ENDS */

/* AUDIO - STARTS */
audio {
	margin: 10px;
}
/* AUDIO - ENDS */

/* ALIGN - STARTS */
.text-right {
	text-align: right;
}
/* ALIGN - ENDS */

/* BUTTONS - STARTS */
.btn-container {
	padding: 10px 0;
}

.btn-pr {
	background: #34495e;
	color: #fff;
	padding: 7px 15px;
	text-transform: uppercase;
	border: 5px solid #fff;
	box-shadow: 0 0 3px #ccc;
	margin-right: 10px
}

.btn-pr:hover {
	border-color: #e6e6e6;
	cursor: pointer;
}
/* BUTTONS - ENDS */
